body{
    margin: 0;
    padding: 0;
     
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
.advantages-items{
    display: none;
}

.map{
    display: none;
}
.filter-form{
    display: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 
.main-navigation{
    font-weight: bold;
    background-color: #ffffff;
}
.main-navigation a{
    color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
    color: #89b8d5;
}
.main-navigation a:active{
    color: #b2b2b2;
}
.main-navigation .active{
    color: #766357;
}
.site-navigation{
    list-style: none;
}
.title{
    text-align: center;
    background-color: #ffffff;
    background-image: url("../img/welcome.jpg");
    background-repeat: no-repeat;
}  
.advantages{
    text-align:center;
    background-color: #ffffff;
}
.advantages-subtitle{
    font-size:21px;
    line-height: 26px;
    font-weight: bold;
}
.search-title{
    text-align: center;
    background-color: #ffffff;
}
.search-subtitle{
    font-size: 30px;
    line-height: 36px;
}
.search-form,
.search-form input{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2 ;
}
.search-form{
    background-color: #ffffff;
    text-align: center;
}
.search-form input:hover{
    background-color: #ebebeb;
}
.search-form input:focus{
    background-color: #ffffff;
    outline-color: #e5e5e5;
}
.calendar{
    fill: #cacaca;
}
.calendar:hover,
.calendar:focus{
    fill: #000000;
}
.calendar:active{
    fill: #81b3d2;
}
.button-search-form{
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.button-style1{
    background-color: #766357;
}
.button-style1:hover,
.button-style1:focus{
    background-color: #604e43;
}
.button-style1:active{
    color: #928a85;
    background-color: #503e33;
}
.button-style2{
    background-color: #81b3d2;
}
.button-style2:hover,
.button-style2:focus{
    background-color: #669ec0;
}
.button-style2:active{
    color: #88b6d1;
    background-color: #5496bd;
}
.button-switch{
    font-size: 16px;
    font-weight: bold;
    color: #a9a9a9;
    text-transform: uppercase;
    text-align: center;
    background-color:#f2f2f2;
}
.button-switch:hover,
.button-switch:focus{
    color:#000000;
}
.button-switch:active{
    color: #81b3d2;
}
.footer{
    background-color: #ffffff;
}
.footer-contacts a {
    font-size: 21px;
    font-weight: bold;
    color:#000000;
}
.footer-social ul{
    list-style: none;
}
.button-social{
    color: #ffffff;
}
.footer-copyright a{
    font-size: 14px;
    font-weight: normal;
    fill: #000000;
}
.footer-copyright a:hover,
.footer-copyright a:focus{
    fill: #81b3d2;
}
.footer-copyright a:active{
    fill: #bdbbbc;
}
.result-sort{
    background-color: #ffffff;
}
.search-result-subtitle{
    font-size: 21px;
    font-weight: bold;
}
.sort{
    font-size: 12px;
}
.sort-items{
    list-style: none;
    font-size: 12px;
}
.sort-items a{
    color: #b2b2b2;
    border-bottom: 1px dashed #81b3d2;
}
.sort-items a:hover,
.sort-items a:focus{
    color: #81b3d2;
}
.sort-items a:active{
    color: #000000;
    border-bottom: none;
}
.search-result-items{
    background-color: #ffffff;
    list-style: none;
}
.hotel{
    font-size:21px;
    font-weight: bold;
    color: #000000;
}
.hotel:hover,
.hotel:focus{
    color: #81b3d2;
}
.hotel:active{
    color: #cacaca;
}
.button-search-result{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.rating-item{
    color: #666666;
    background-color: #f2f2f2;
}
.active{
    color:red;
}
/* Стилевые сетки/ НЕ ЗАБЫТЬ УБРАТЬ 
.body{
    margin:0px;
    padding:0px;
}
*/
.main-navigation{
    box-sizing: border-box;
    width: 1202px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.nav-logo{
    position: absolute;
    left: 645px;
    top: 0px;
}
.site-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.site-navigation li{
    margin-left: 147px;
    margin-bottom: 50px;
}
.site-navigation li:first-child{
    margin-left: 33px;
}
.site-navigation li:nth-child(2){
    margin-right: 239px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1202px;
    min-height: 510px;
    margin-left: auto;
    margin-right: auto;
}
.advantages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1202px;
    min-height: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
}
.advantages-subtitle{
    margin-bottom: 32px;
}
.search-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 1202px;
    min-height: 315px;
    margin-left: auto;
    margin-right: auto;
}
.search-title a{
    margin-top: 105px;
}
.search-title p{
    margin-top: 0px;
}
.search-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    box-sizing: border-box;
    width: 570px;
    min-height: 395px;
    margin-left: auto;
    margin-right: auto;
    padding: 55px;
    margin-bottom: 77px;
}
.visitors{
    display: flex;
    flex-direction: row;
}
.footer{
    box-sizing: border-box;
    width: 1202px;
    min-height: 125px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 125px;
    padding-right: 102px;
    padding-bottom: 38px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}

.filter-container{
    width: 1200px;
    min-height: 218px;
    margin-left: auto;
    margin-right: auto;
    background-color: #89b8d5;
}
.result-sort{
    display:flex;
    align-items: center;
    width: 1200px;
    min-height: 87px;
    margin-left: auto;
    margin-right: auto;
}
.search-result-subtitle{
    margin-left: 70px;
}
.sort{
    margin-left: 50px;
}
.arrow{
    margin-left: auto;
    margin-right: 74px;
}
.sort-items{
    display: flex;
}
.sort-item:not(:first-child){
    margin-left: 33px;
}
.search-result-items{
    display:flex;
    flex-direction: column;
    width: 1160px;
    min-height: 455px;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 0px; 
}
.result-item{
    display: flex;
    min-height: 153px;
    align-items: flex-start;
    padding-top:30px;
    margin-left: 35px;
}
.description{
    margin-left: 30px;
    width: 260;
    min-height: 92px;
}
.rating{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 74px;
}
.rating-item{
    margin-bottom:auto;
}
