body{
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 
.main-navigation{
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color: #ffffff;
}
.nav-logo{
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
}
.site-navigation{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
} 
.site-navigation-item:first-child{
    margin-right: 235px;
}
.site-navigation-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 530px;
}
.site-navigation-item a{
    color: #000000;
    padding:20px;
}
.site-navigation-item a:hover,
.site-navigation-item a:focus {
    color: #89b8d5;
}
.site-navigation-item a:active{
    color: #b2b2b2;
}
.site-navigation-item .active{
    color: #766357;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    min-height: 510px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
    background-image: url("../img/welcome.jpg");
    background-repeat: no-repeat;
    background-position: 0px -57px;
}  
.advantages-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    background-color: #ffffff;
}
.advantages-subtitle{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.advantages-title p{
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
}
.advantages-items,
.advantages-items h3,
.advantages-items p{
    margin: 0px;
    padding: 0px;
}
.advantages-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center;
}
.advantages-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color:  #eeeeee;
}
.reason{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    padding-top: 48px;
}
.reason h3{
    font-size: 21px;
    margin-bottom: 30px;
}
.reason p{
    margin-top: 30px;
    margin-bottom: 52px;
}
.item-1{
    color: #ffffff;
    background-color: #81b3d2;
}
.recommend-items{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 1200px;
    min-height: 333px;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}
.recommend-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding-top: 165px;
}
.recommend-item h3{
    font-size: 21px;
    margin-bottom: 28px;
}
.recommend-item:nth-child(1){
    background-image: url("../img/icon_house.svg");
    background-repeat: no-repeat;
    background-position: 162px 63px;
}
.recommend-item:nth-child(2){
    background-image: url("../img/icon_food.svg");
    background-repeat: no-repeat;
    background-position: 162px 63px;
}
.recommend-item:nth-child(3){
    background-image: url("../img/icon_gift.svg");
    background-repeat: no-repeat;
    background-position: 162px 63px;
}
.search-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
}
.search-title h3{
    margin: 0px;
    padding: 0px; 
    margin-bottom: 24px;
    padding-top: 58px;
    font-size: 30px;
    line-height: 36px; 
}
.search-title p{
    margin: 0px;
    padding: 0px;
    margin-bottom: 46px;
    line-height: 24px;
}
.search-title .button-search{
    display: block;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 140px;
    padding-right: 140px;
}
.map{
    display: flex;
    justify-content: center;
    margin-left: auto;
}
.search-form{
    position: absolute;
    box-sizing: border-box;
    width: 570px;
    margin-left: auto;
    margin-right: auto; 
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 29px;
    background-color: #ffffff;
}
.search-form-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 55px;
    padding-right: 50px;
    padding-top: 55px;
}
.form-item{
    margin-bottom: 29px;
}
.form-item input[type="text"]{
    box-sizing: border-box;
    width: 345px;
    margin-left: 20px;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
.form-item input:hover{
    background-color: #ebebeb;
}
.form-item input:focus{
    background-color: #ffffff;
    outline-color: #e5e5e5;
}   
.button-calendar-1{
    position: absolute;
    top: 66px;
    right: 66px;
    border: none;
    background-color: transparent;
}
.button-calendar-2{
    position: absolute;
    top: 133px;
    right: 66px;
    border: none;
    background-color: transparent;
}
.calendar-img{
    fill: #cacaca;
}
.calendar-img:hover,
.calendar-img:focus{
    fill: #000000;
}
.calendar-img:active{
    fill: #81b3d2;
}
.visitors{
    display: flex;
    width: 460px;
    justify-content: space-between;
    align-items: center;
}
.wrapper-visit-button{
    display: flex;
}
.wrapper-visit-button input[type="number"]{
    box-sizing: border-box;
    width: 38px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
.button-switch{
    width: 38px;
    height: 38px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #a9a9a9;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
}
.button-switch:hover,
.button-switch:focus{
    color: #000000;
}
.button-switch:active{
    color: #81b3d2;
}
.search-form .button-search{
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 198px;
    padding-right: 198px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 55px;
}
.button-search{
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.button-style1{
    background-color: #766357;
}
.button-style1:hover,
.button-style1:focus{
    background-color: #604e43;
}
.button-style1:active{
    color: #928a85;
    background-color: #503e33;
}
.button-style2{
    background-color: #81b3d2;
}
.button-style2:hover,
.button-style2:focus{
    background-color: #669ec0;
}
.button-style2:active{
    color: #88b6d1;
    background-color: #5496bd;
}
.footer-index{
    margin-top: -120px;
    opacity: 0.90;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 36px;
    padding-left: 124px;
    padding-right: 103px;
    padding-bottom: 32px;
    background-color: #ffffff;
}
.footer-container p{
    margin: 0px;  
}
.footer-contacts a {
    display: block;
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}
.footer-contacts a:first-child{
    margin-bottom: 13px;
}
.footer-social ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.button-twitter{
    display: block;
    margin-right: 5px;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 13px;
}
.button-fb{
    display: block;
    margin-right: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 17px;
    padding-right: 17px;   
}
.button-youtube{
    display: block;
    margin-right: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 14px;
    padding-right: 14px;
}
.footer-social a{
    fill: #ffffff;
}
.footer-social a:active{
    fill: #88b6d1;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright a{
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
    fill: #000000;
}
.footer-copyright a:hover,
.footer-copyright a:focus{
    fill: #81b3d2;
}
.footer-copyright a:active{
    fill: #bdbbbc;
}
.filter-container{
    box-sizing: border-box;
    width: 1200px;
    min-height: 218px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-image: url("../img/filter.jpg");
    background-repeat: no-repeat;
}
.filter-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 73px;
}
.filter-item,
.cost{
    border: 0 none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}
.filter-item legend,
.cost h3{
    font-size: 16px;
    font-weight: bold;
}
.filter-item{
    margin-right: 110px;
}
.check{
    margin-top: 30px;
    padding-left: 30px;
}
.checkbox{
    position:absolute;
    width: 24px;
    height: 24px;
    margin-left: -30px;
    margin-top: -5px;
    background-image: url(../img/icon_checkbox_off.svg);
}
.check-input:checked + .checkbox{
    background-image: url(../img/icon_checkbox_on.svg);
}
.check-input:disabled + .checkbox{
    background-image: url(../img/icon_checkbox_off_disabled.svg);
}
.check-input:checked:disabled + .checkbox{
    background-image: url(../img/icon_checkbox_on_disabled.svg);
}
.cost{
    margin-left: 230px;
}
.cost-wrapper{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 318px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cost h3,
.cost p{
    margin: 0px;
}
.button-filter{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 2px; 
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
}
.button-filter:hover,
.button-filter:focus{
    color: #000000;
    background-color: #ffffff;
}
.result{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.result-sort{
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 30px;
    padding-bottom: 34px;
    border-bottom: 1px solid #e5e5e5; 
    background-color: #ffffff;
}
.result-sort h3{
    margin: 0px;
    margin-right: 48px;
    font-size: 21px;
    font-weight: bold;
}
.result-sort p{
    margin: 0px;
    margin-right: 40px;
    font-size: 12px;
}
.sort-items{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
}
.sort-item{
    margin-right: 34px;
}
.sort-item a{
    color: #b2b2b2;
    border-bottom: 1px dashed #81b3d2;
}
.sort-item a:hover,
.sort-item a:focus{
    color: #81b3d2;
}
.sort-item a:active{
    color: #000000;
    border-bottom: none;
}
.arrow a{
    fill: #cacaca; 
    margin-left: 5px;
}
.arrow a:hover,
.arrow a:focus{
    fill: #000000;
}
.arrow a:active{
    fill: #81b3d2;
}
.result-items{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    list-style: none;
}
.result-item{
    display: flex;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 30px;
    padding-bottom:30px;
    border-bottom: 1px solid #e5e5e5; 
}
.result-item h3,
.result-item p{
    margin: 0px;
}
.result-item img{
    margin-right: 30px;
}
.description{
    flex-grow: 1;
}
.hotel-name{
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}
.hotel-name:hover,
.hotel-name:focus{
    color: #81b3d2;
}
.hotel-name:active{
    color: #cacaca;
}
.wrapper{
    display: flex;
    width: 183px;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 15px;
}
.button-result{
    display: inline-block;
    padding-top: 6px;
    padding-left: 17px;
    padding-bottom: 6px;
    padding-right:17px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.rating .stars-four{
    width: 80px;
    height: 20px;
    background-image: url('../img/icon_star.svg');
    background-repeat: round;
}
.rating .stars-three{
    width: 60px;
    height: 20px;
    background-image: url('../img/icon_star.svg');
    background-repeat: round;
}
.rating .stars-two{
    width: 40px;
    height: 20px;
    background-image: url('../img/icon_star.svg');
    background-repeat: round;
}
.rating-item{
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 13px;
    padding-bottom: 6px;
    color: #666666;
    background-color: #f2f2f2;
}
.active{
    color:#766357;
}