body{
    margin: 0;
    padding: 0;
     
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #f2f2f2;
}
a{
    text-decoration: none;
}
.map{
    display: none;
}
.filter-form{
    display: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} 
.main-navigation{
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 33px;
    padding-right: 73px;

    font-weight: bold;
    background-color: #ffffff;
}
.nav-logo{
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
}
.main-navigation a{
    color: #000000;
}
.main-navigation a:hover,
.main-navigation a:focus {
    color: #89b8d5;
}
.main-navigation a:active{
    color: #b2b2b2;
}
.main-navigation .active{
    color: #766357;
}
.site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 56px;
    margin: 0px;

    list-style: none;
}
.site-navigation li{
    margin-left: 147px;
}
.site-navigation li:nth-child(1){
    margin-left: 0px;
}
.site-navigation li:nth-child(3){
    margin-left: 395px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    min-height: 510px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    background-color: #ffffff;
    background-image: url("../img/welcome.jpg");
    background-repeat: no-repeat;
    background-position: 0px -57px;
}  
.advantages{
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;

    text-align:center;
    background-color: #ffffff;
}
.advantages-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.advantages-subtitle{
    font-size:21px;
    line-height: 26px;
    font-weight: bold;
}
.advantages p{
    margin:0px;
    padding:0px;
    margin-bottom: 40px;
}
.advantages-items,
.advantages-items h3,
.advantages-items p{
    margin:0px;
    padding:0px;
}
.advantages-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.advantages-item{
    display:flex;
    justify-content: space-between;
    background-color:  #eeeeee;
}
.reason{
    box-sizing: border-box;
    width:400px;
    min-height: 256px;
    padding-top: 50px;
}
.item-1{
    color: #ffffff;
    background-color: #81b3d2;
}
.item-1 h3,
.item-2 h3{
    font-size: 21px;
    margin-bottom: 25px;

}
.item-1 p,
.item-2 p{
    margin-top: 25px;
}

.recommend-items{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width:1200px;
    min-height: 333px;
    margin:0px;
    padding:0px;
    background-color: #ffffff;
    background-image: 
        url("../img/icon_house.svg"),
        url("../img/icon_food.svg"),
        url("../img/icon_gift.svg");
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat;
    background-position: 
        164px 60px,
        566px 60px,
        971px 60px;
}
.recommend-item{
    margin-left: 10px;
    padding-left:60px;
    padding-right: 60px;
    padding-top: 164px;
}
.recommend-item h3{
    font-size: 21px;
    margin-bottom: 30px;
}
.search-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    width: 1200px;
    min-height: 292px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    background-color: #ffffff;
}
.search-subtitle{
    margin: 0px;
    padding:0px;
    font-size: 30px;
    line-height: 36px;
}
.search-title p{
    margin: 0px;
    padding:0px;
    margin-bottom: 46px;
    line-height: 24px;
}
.search-title h3{
    margin-bottom: 24px;
}
.search-title a{
    display:block;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 140px;
    padding-right: 140px;
}
.search-form,
.search-form input{
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2 ;
}
.search-form{
    position: relative;
    box-sizing: border-box;
    width: 570px;
    min-height: 395px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 78px;

    background-color: #ffffff;
    text-align: center;
}
.search-form input:hover{
    background-color: #ebebeb;
}
.search-form input:focus{
    background-color: #ffffff;
    outline-color: #e5e5e5;
}
.search-form-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin:0px;
    padding:0px;
    margin-left: 55px;
    margin-right: 50px;
    padding-top: 55px;
}
.search-form-items .form-item,
.search-form-items input{
    margin:0px;
    padding:0px;
}
.search-form-items .form-item{
    margin-bottom: 30px;
}
.form-item input[type="text"]{
    box-sizing: border-box;
    width: 345px;
    min-height: 37px;
    border:none;
    margin-left: 20px;
    padding-left: 10px;
}
.form-item input[type="number"]{
    box-sizing: border-box;
    width: 44px;
    min-height: 35px;
    border:none;
}    
.visitors .form-item{
    display:inline-block
}
.visitors .form-item:first-child{
    margin-right: 50px;
}
.button-calendar-1{
    position: absolute;
    top: 62px;
    right:64px;
    border: none;
    background-color: transparent;
}
.button-calendar-2{
    position: absolute;
    top: 131px;
    right:64px;
    border:none;
    background-color: transparent;
}
.search-form .button-search-form{
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 198px;
    padding-right: 198px;
    margin-left: 55px;
    margin-top:25px;
}
.calendar{
    fill: #cacaca;
}
.calendar:hover,
.calendar:focus{
    fill: #000000;
}
.calendar:active{
    fill: #81b3d2;
}
.button-search-form{
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.button-style1{
    background-color: #766357;
}
.button-style1:hover,
.button-style1:focus{
    background-color: #604e43;
}
.button-style1:active{
    color: #928a85;
    background-color: #503e33;
}
.button-style2{
    background-color: #81b3d2;
}
.button-style2:hover,
.button-style2:focus{
    background-color: #669ec0;
}
.button-style2:active{
    color: #88b6d1;
    background-color: #5496bd;
}
.button-switch{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 35px;
    height: 35px;
    border:none;

    font-size: 16px;
    font-weight: bold;
    color: #a9a9a9;
    text-transform: uppercase;
    text-align: center;
    background-color:#f2f2f2;
}
.button-switch:hover,
.button-switch:focus{
    color:#000000;
}
.button-switch:active{
    color: #81b3d2;
}
.footer{
    box-sizing: border-box;
    width: 1202px;
    min-height: 125px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.footer p{
    margin:0px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 130px;
    padding-right: 102px;
}
.footer-contacts a {
    display: block;
    margin-bottom: 10px;

    font-size: 21px;
    font-weight: bold;
    color:#000000;
}
.footer-social ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.button-social{
    color: #ffffff;
}
.footer-copyright{
    margin-left: 30px;
}
}
.footer-copyright a{
    font-size: 14px;
    font-weight: normal;
    fill: #000000;
}
.footer-copyright a:hover,
.footer-copyright a:focus{
    fill: #81b3d2;
}
.footer-copyright a:active{
    fill: #bdbbbc;
}

.result-sort{
    background-color: #ffffff;
}
.search-result-subtitle{
    font-size: 21px;
    font-weight: bold;
}
.sort{
    font-size: 12px;
}
.sort-items{
    list-style: none;
    font-size: 12px;
}
.sort-items a{
    color: #b2b2b2;
    border-bottom: 1px dashed #81b3d2;
}
.sort-items a:hover,
.sort-items a:focus{
    color: #81b3d2;
}
.sort-items a:active{
    color: #000000;
    border-bottom: none;
}
.search-result-items{
    background-color: #ffffff;
    list-style: none;
}
.hotel{
    font-size:21px;
    font-weight: bold;
    color: #000000;
}
.hotel:hover,
.hotel:focus{
    color: #81b3d2;
}
.hotel:active{
    color: #cacaca;
}
.button-search-result{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.rating-item{
    color: #666666;
    background-color: #f2f2f2;
}
.active{
    color:red;
}

.filter-container{
    width: 1200px;
    min-height: 218px;
    margin-left: auto;
    margin-right: auto;
    background-color: #89b8d5;
}
.result-sort{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 1200px;
    min-height: 87px;
    margin-left: auto;
    margin-right: auto;
    padding-left:73px;
}
.search-result-subtitle{
    margin:0px;
    padding:0px;
    margin-right: 52px;
}
.sort{
    margin:0px;
    padding:0px;
    margin-right: 43px;
}
.sort-items{
    display: flex;
    margin:0px;
    padding:0px;
}
.sort-item{
    margin-right: 30px;
}
.search-result-items{
    width:1200px;
    margin:0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
.result-item{
    display: flex;
    padding-left: 73px;
    padding-top: 27px;
    padding-bottom:30px;
    padding-right: 73px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.result-item h3,
.result-item p{
    margin: 0px;
    padding: 0px;
}
.rating-item{
    margin: 0px;
    padding: 0px;
}
.description{
    width: 265px;
    margin-left: 30px;
}
.description p{
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 14px;
}
.description h3{
    margin-bottom: 9px;
}
.button-search-result{
    display: inline-block;
    margin-right: 3px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.rating{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}
.rating p{
    margin-top:auto;
    padding-left: 16px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 9px;
}